/* ====== HERE ARE ALL THE ANIMATIONS ====== */

/*Animations for the navbar*/
@keyframes top-in{
    from{
        position: relative;
        top: -75px;
    }
    to{
        position: relative;
        top: 0;
    }
}

@keyframes header-scroll{
    0%{
        position: relative;
        width: 50%;
        max-width: 800px;
        border-radius: 0 0 1.5rem 1.5rem;
    }
    20%{
        position: relative;
        top: -10px;
        width: 50%;
        max-width: 800px;
        border-radius: 0 0 1.5rem 1.5rem;
    }
    30%{
        position: relative;
        top: -100px;
        width: 50%;
        border-radius: 0 0 1.5rem 1.5rem;
    }
    55%{
        position: relative;
        top: -50px;
        width: 50%;
        border-radius: 0 0 1.5rem 1.5rem;
    }
    65%{
        position: sticky;
        top: 0;
        width: 50%;
        border-radius: 0 0 1.5rem 1.5rem;
    }
    75%{
        position: sticky;
        top: 0;
        width: 50%;
        border-radius: 0 0 1.5rem 1.5rem;
    }
    100%{
        position: fixed;
        top: 0;
        height: 40px;
        width: 100%;
        background-color: var(--background-secondary);
        border-radius: 0;
    }
}

/*Animations for the first aside*/

@keyframes downward{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes right-in{
    from{
        position: relative;
        right: -260px;
    }
    to{
        position: relative;
        right: 0;
    }
}

/*Animations for the second aside*/

@keyframes upward{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-100%);
    }
}

@keyframes left-in{
    from{
        position: relative;
        left: -260px;
    }
    to{
        position: relative;
        left: 0;
    }
}

/*Animations for the elements in the main*/


@keyframes h1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        filter: drop-shadow(3px 4px .2px var(--title-color));
    }
}

@keyframes h2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes button{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/* Animations for the arrows*/

@keyframes arrow2{
    from{
    position: absolute;
    right: -145px;
    top: 5px;
    }
    to{
    position: absolute;
    right: -185px;
    top: 5px;
    }
}

@keyframes arrow1{
    from{
    position: absolute;
    left: -140px;
    top: 5px;
    }
    to{
    position: absolute;
    left: -185px;
    top: 5px;
    }
}