
@media screen and (min-width: 970px) {
}

@media screen and (max-width: 880px){
    .section__1 h2::before{
    display: none;
    }

    .section__1 h2::after{
    display: none;
    }

    .container__bar{
        display: none;
    }

    .section__space, .section__container{
        flex-direction: column;
        align-items: center;
        row-gap: var(--gap-xxxxxl);
    }

    main, section{
    scroll-snap-type: none;
    }
}

@media screen and (max-width: 780px){
    .main__wrapper aside{
        display: none;
    }

    .wrapper__aside{
        display: none;
    }

    .header{
        min-width: 70%;
    }
}

@media screen and (max-width: 430px){
    .section__2 h2{
        font-size: var(--font-size-h7);
    }    
}


@keyframes card-in{
    from{
        opacity: 0;
        scale: .7;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}