
@media screen and (max-width: 970px) {
    .html{
        scroll-behavior: y initial;
    }
}

@media screen and (max-width: 880px){
    .section__1 h2::before{
    display: none;
    }

    .section__1 h2::after{
    display: none;
    }

    .container__bar{
        display: none;
    }

    .section__space, .section__container{
        flex-direction: column;
        align-items: center;
        row-gap: var(--gap-xxxxxl);
    }

    main, section{
    scroll-snap-type: none;
    }
}

@media screen and (max-width: 780px){
    .main__wrapper aside{
        display: none;
    }

    .header{
        min-width: 70%;
    }
}


