/* =======SIMPLE STATES======= */

*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* =======TO MAKE SOME THINGS NOT UGLY======= */

ul, ol, li{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5{
    text-wrap: balance;
}


h1{
    font-size: var(--font-size-h1);
    color: var(--title-color);
}

h2{
    font-size: var(--font-size-h2);
}

h3{
    font-size: var(--font-size-h3);
}

h4{
    font-size: var(--font-size-h4);
}

h5, h6{
    font-size: var(--font-size-h5);
}

h2, h3, h4, h5, h6{
    color: var(--subtitle-color);
}

p{
    text-wrap: pretty;
}


/* =======ALL THE COLORS AND FONT-SIZES USED IN THE WEBSITE======= */

:root{

/* Color used in the dark mode*/

    --background-main: hsl(220, 15%, 12%);
    --background-secondary: hsl(220, 15%, 22%);
    --title-color: hsl(0, 0%, 97%);
    --subtitle-color: hsl(0, 0%, 78%);
    --paragraph-color: hsl(0, 0%, 68%);
    --shadow: hsl(0, 0%, 35%);
    --light-shadow: hsl(0, 0%, 45%);
    --black-for-opacity: #1111117c;

/* The palette colors "RGBs" */
    --blue: hsl(215, 85%, 55%);
    --lightblue: hsl(210, 100%, 70%);
    --cyan: hsl(180, 85%, 55%);
    --red: hsl(0, 75%, 50%);
    --green: hsl(135, 70%, 50%);
    --orange: hsl(25, 85%, 55%);
    --orange2: hsl(45, 85%, 55%);
    --yellow: hsl(55, 90%, 55%);
    --purple: hsl(275, 70%, 55%);
    --pink: hsl(330, 75%, 60%);

/* Font-size scales */

  --font-size-base: clamp(16px, 1vw + 1rem, 20px);
  --font-size-p: clamp(1.00rem, 0.8vw + 1rem, 1.25rem);      
  --font-size-small: clamp(0.80rem, 0.5vw + 0.8rem, 1rem);    
  --font-size-h6: clamp(1.25rem, 1vw + 1rem, 1.5rem); 
  --font-size-h5: clamp(1.56rem, 1.2vw + 1.1rem, 2rem); 
  --font-size-h4: clamp(1.95rem, 1.5vw + 1.2rem, 2.5rem); 
  --font-size-h3: clamp(2.44rem, 2vw + 1.5rem, 3rem);    
  --font-size-h2: clamp(3.05rem, 2.5vw + 1.5rem, 4rem);  
  --font-size-h1: clamp(3.81rem, 3vw + 1.5rem, 5rem);    

/* Padding scale */
--padding-xs: 0.5rem;
--padding-s: 0.75rem;
--padding-l: 1rem;
--padding-m: 1.25rem;
--padding-x: 1.5rem;
--padding-xx: 1.75rem;
--padding-xxl: 2rem;
--padding-xxxl: 2.25rem;
--padding-xxxxl: 2.5rem;
--padding-xxxxxl: 2.75rem;
--padding-xxxxxxl: 3rem;

/* Margin scale */
--margin-xs: 0.5rem;
--margin-s: 0.75rem;
--margin-l: 1rem;
--margin-m: 1.25rem;
--margin-x: 1.5rem;
--margin-xx: 1.75rem;
--margin-xxl: 2rem;
--margin-xxxl: 2.25rem;
--margin-xxxxl: 2.5rem;
--margin-xxxxxl: 2.75rem;
--margin-xxxxxxl: 3rem;

/* Padding scale */
--padding-xs: 0.5rem;
--padding-s: 0.75rem;
--padding-l: 1rem;
--padding-m: 1.25rem;
--padding-x: 1.5rem;
--padding-xx: 1.75rem;
--padding-xxl: 2rem;
--padding-xxxl: 2.25rem;
--padding-xxxxl: 2.5rem;
--padding-xxxxxl: 2.75rem;
--padding-xxxxxxl: 3rem;

/* Gap scale */
--gap-xs: 0.5rem;
--gap-s: 0.75rem;
--gap-l: 1rem;
--gap-m: 1.25rem;
--gap-x: 1.5rem;
--gap-xx: 1.75rem;
--gap-xxl: 2rem;
--gap-xxxl: 2.25rem;
--gap-xxxxl: 2.5rem;
--gap-xxxxxl: 2.75rem;
--gap-xxxxxxl: 3rem;
}

/* ======Light Mode Classes====== */
.lm-background-main {
    background-color: hsl(220, 15%, 95%);
}

.lm-background-secondary {
    background-color: hsl(220, 15%, 85%);
}

.lm-title-color {
    color: hsl(0, 0%, 10%);
}

.lm-subtitle-color {
    color: hsl(0, 0%, 30%);
}

.lm-paragraph-color {
    color: hsl(0, 0%, 40%);
    filter: drop-shadow();
}

.lm-shadow {
    box-shadow: 0 4px 6px hsl(0, 0%, 70%);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 1700px;
    margin: auto;
    background-color: var(--background-main);
    height: 200dvh;
}

html{
    scrollbar-color: var(--subtitle-color) transparent;
}

/* ======HEADER====== */

.header{
    display: flex;
    width: 100%;
    background-color: var(--background-secondary);
    height: clamp(40px,6dvh,60px);
    justify-content: space-between;
    transition: all .3s ease-in-out;
    align-items: center;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 10px var(--light-shadow);
    user-select: none;
}

.header__in{
    animation: top-in .3s cubic-bezier(.29,.97,.3,.96) both;
}

.header__scroll{
    animation: header-scroll ease-in-out both;
    animation-timeline: scroll();
}

.header img{
    max-height: 100%;
    padding-left: var(--padding-m);
}

.header__nav{
    height: 100%;
}

.header__list{
    display: flex;
    height: 100%;
    align-items: center;
    max-width: 100%;
}

.header__element{
    display: flex;
    position: relative;
    height: 100%;
    position: relative;
}

.header__link{
    display: flex;
    align-items: center;
    font-weight: bolder;
    height: 100%;
    padding: 0 var(--padding-x);
    transition: all .19s ease-in;
    color: var(--subtitle-color);
    font-size: calc(var(--font-size-base) - .2rem);
}

.header__link:hover{
    background-color: var(--background-main);
}

.material-symbols-outlined{
    color: var(--subtitle-color);
    user-select: none;
    font-weight: bolder;
    cursor: pointer;
    padding-right: var(--padding-m);
    transition: all .2s ease-in-out;
}


.header__sublist{
    background-color: var(--background-secondary);
    color: var(--subtitle-color);
    width: 130%;
    position: absolute;
    left: 0;
    bottom: -30px;
}

.sublist__tr li{
    font-weight: bolder;
}

/* ======MAIN SECTION====== */

.main__wrapper{
    display: flex;
    overflow: hidden;
    height: 94dvh;
    width: 100%;
    background-color: transparent;
    gap: var(--gap-xxxxxxl);
    background-image: linear-gradient(to bottom, transparent, var(--background-secondary) 20%, transparent)
}

.main{
    padding: var(--padding-xx);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xx);
    padding-top: var(--padding-xxxl);
    text-align: center;
    flex: 4;
    margin-top: var(--margin-xxxxxxl);
    user-select: none;
}

.main__h1{
    font-family: "Press Start 2P";
    font-size: var(--font-size-h1);
    padding-top: var(--padding-xxxxxl);
    color: var(--blue);
    animation: h1 .2s cubic-bezier(.29,.97,.3,.96) both;
    animation-delay: .4s;
}

.main__h2{
    font-size: var(--font-size-h4);
    color: var(--title-color);
    animation: h2 .9s cubic-bezier(.29,.97,.3,.96) both;
    animation-delay: .8s;
}

.main__button{
    background-color: var(--blue);
    padding: var(--padding-xs) var(--padding-x);
    font-size: calc(var(--font-size-h6) - .3rem);
    border: 0px solid transparent;
    font-weight: bolder;
    color: var(--title-color);
    border-radius: .7rem;
    transition: all .3s cubic-bezier(.26,.7,.11,.99);
    animation: button .9s cubic-bezier(.29,.97,.3,.96) both;
    animation-delay: 1.2s;
}

.main__button:hover{
    opacity: .9;
}

/* ======ASIDES====== */

.aside__wrapper{
    height: 95%;
    align-self: center;
    width: 100%;
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    user-select: none;
}


.aside{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/*Adding animation to the first aside*/

#aside1{
    animation: upward 15s 1.2s linear infinite;
}

.wrapper__1{
    animation: left-in .8s .3s cubic-bezier(.29,.97,.3,.96) both;
}

/*Adding animation to the second aside**/

#aside2{
    animation: downward 15s 1.2s linear infinite;
}

.wrapper__2{
    animation: right-in .8s .3s cubic-bezier(.29,.97,.3,.96) both;
}

.aside__article{
    display: flex;
    flex: 0 0 150px;
    align-items: center;
    justify-content: center;
    background-color: var(--subtitle-color);
    border-radius: 1rem;
    font-size: var(--font-size-h6);
    margin-top: var(--margin-xxl);
}